<po-page-list   [p-title]="title"
[p-breadcrumb]="breadcrumb"
[p-actions]="actions">
  <po-container>
    <label for="meuArquivo">Arquivo</label>
    <input type="file" id="meuArquivo" accept=".txt" (change)="preview($event)" />
    <po-button p-type="primary" p-label="Enviar" (p-click)="enviarArquivo()"></po-button>

  </po-container>
</po-page-list>

<po-loading-overlay [hidden]="hideLoading" ></po-loading-overlay>
