<div class="po-wrapper" *ngIf="mostrarMenu">
  <po-menu
    p-collapsed=true
    p-filter
    [p-menus]="menus">
  </po-menu>
  <po-toolbar
    p-title="Wil Software"
    [p-profile]="profile"
    [p-profile-actions]="profileActions">
  </po-toolbar>
  <router-outlet></router-outlet>
</div>

<po-page-login *ngIf="!mostrarMenu"
  (p-login-submit)="loginSubmit($event)">
</po-page-login>
